mat-card {
    max-width: 420px;
    max-height: 500px;
    margin: 3em auto;
    text-align: center;
  }
  mat-form-field {
    display: block;
  }
   mat-label{
    float: right;
  }
 .captcha button{
   margin-right: 15px;
 }
 .forgetpwd{
   float: right;
 }
 .validity{
   color: white;
   background-color: red;
   overflow: hidden;
 }
 .invalidcaptcha{
   float: center;
   color: red;
   font-size: 20px;
 }

 