.selection{
    max-width: 500px;
    height: 410px;
    margin:20px auto;
    padding: 0%;
    text-align: center;
}
.static{
    width: 95%;
    margin-left: 10px;
}
.submit{
    align-self: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.timetable{
    width: 500px;
    height: max-content;
    margin: 2px auto;
    padding: 0;
    text-align: center;
}
.timetable table{
    width:90%;
    margin-left: 20px;
}

