<mat-toolbar color="primary">
    <mat-toolbar-row>
            <h1>NARASARAOPETA ENGINEERING COLLEGE</h1>
      <div>
        <a mat-button [routerLink]="">Student Information</a>
        <a mat-button [routerLink]="">Pay Exam Fee</a>
        <a mat-button [routerLink]="'/user'">Generate Hallticket</a>
        <a mat-button [routerLink]="'/admin'">Marks Details</a>
      </div>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav md-disable-backdrop>
    <mat-nav-list>
      <a mat-button [routerLink]="">Student Information</a><br>
      <a mat-button [routerLink]="">Pay Exam Fee</a><br>
      <a mat-button [routerLink]="''">Generate Hallticket</a><br>
      <a mat-button [routerLink]="''">Marks Details</a><br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 22vh; width: fit-content;">
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
