<mat-toolbar color="primary" md-disable-backdrop>
    <mat-toolbar-row>
            <h1>NARASARAOPETA ENGINEERING COLLEGE</h1>
      <div class="contents">
        <a mat-button [routerLink]="['StudInfo']">Student Information</a>
        <a mat-button [routerLink]="['payFee']">Pay Exam Fee</a>
        <a mat-button [routerLink]="['GHticket']">Generate Hallticket</a>
        <a mat-button [routerLink]="['Marks']">Marks Details</a>
        <a mat-button (click)="Logout()" href="/login">Logout</a><br>
      </div>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav md-disable-backdrop>
    <mat-nav-list>
      <a mat-button [routerLink]="['StudInfo']">Student Information</a><br>
      <a mat-button [routerLink]="['payFee']">Pay Exam Fee</a><br>
      <a mat-button [routerLink]="['GHticket']">Generate Hallticket</a><br>
      <a mat-button [routerLink]="['Marks']">Marks Details</a><br>
      <a mat-button (click)="Logout()" routerLink="/login">Logout</a><br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
